$rem-unit : 1rem;
$background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)
  ),
  url(img/background_img.jpg) center no-repeat;
$h1-color: #fff;
$b-color: #1c9be4;
$z-index: 300;
$a-font: 1.7rem;
$b-other-color: #333;
$input-color: #555;
$transition: 0.3s;